# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# Model / ML Artifacts
# =========================
*.pkl
*.joblib

# =========================
# Dataset (optional – ignore if large)
# =========================
data/*.csv

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log